@using StructuredCablingStudioCore
@using static System.String
@model CablingConfiguration?

<div id="configurationDisplay" class="form-control border-primary px-4 py-3">
	@{
		if (Model != null)
		{
			<p>
				@Localizer["RecordTime"]&ensp;@Model.RecordTime.ToShortDateString() @Model.RecordTime.ToLongTimeString()
			</p>
			<p>
				<span>
					@Localizer["MinPermanentLink"]&ensp;<span class="fw-semibold">@Model.MinPermanentLink.ToString("F2")&nbsp;@Localizer["m"]</span>
				</span>
				<br>
				<span>
					@Localizer["MaxPermanentLink"]&ensp;<span class="fw-semibold">@Model.MaxPermanentLink.ToString("F2")&nbsp;@Localizer["m"]</span>
				</span>
				<br>
				<span>
					@Localizer["AveragePermanentLink"]&ensp;<span class="fw-semibold">@Model.AveragePermanentLink.ToString("F2")&nbsp;@Localizer["m"]</span>
				</span>
				<br>
				<span>
					@Localizer["NumberOfWorkplaces"]&ensp;<span class="fw-semibold">@Model.NumberOfWorkplaces.ToString()</span>
				</span>
				<br>
				<span>
					@Localizer["NumberOfPorts"]&ensp;<span class="fw-semibold">@Model.NumberOfPorts.ToString()</span>
				</span>
				<br>
				@if (Model.CableQuantity != null)
				{
					<span>
						@Localizer["CableQuantity"]&ensp;<span class="fw-semibold">@Model.CableQuantity.Value.ToString("F2")&nbsp;@Localizer["m"]</span>
					</span>
					<br>
				}
				@if (Model.CableHankMeterage != null)
				{
					<span>
						@Localizer["CableHankMeterage"]&ensp;<span class="fw-semibold">@Model.CableHankMeterage.Value.ToString()&nbsp;@Localizer["m"]</span>
					</span>
					<br>
				}
				@if (Model.HankQuantity != null)
				{
					<span>
						@Localizer["HankQuantity"]&ensp;<span class="fw-semibold">@Model.HankQuantity.Value.ToString()</span>
					</span>
				}
			</p>
			<p>
				<span class="fw-semibold">
					@Localizer["TotalCableQuantity"]&ensp;@Model.TotalCableQuantity.ToString("F2")&nbsp;@Localizer["m"]
				</span>
			</p>
			if (!IsNullOrEmpty(Model.Recommendations["Insulation Type"]) &&
			!IsNullOrEmpty(Model.Recommendations["Insulation Material"]) &&
			!IsNullOrEmpty(Model.Recommendations["Shielding"]))
			{
				<p>
					<br>
					<span>
						@Localizer["CableSelectionRecommendations"]
					</span>
					<br>
					<span>
						@Localizer["Insulation Type"]&ensp;@Model.Recommendations["Insulation Type"]
					</span>
					<br>
					<span>
						@Localizer["Insulation Material"]&ensp;@Model.Recommendations["Insulation Material"]
					</span>
					<br>
					@if (!IsNullOrEmpty(Model.Recommendations["Standart"]))
					{
						<span>
							@Localizer["Standart"]&ensp;@Model.Recommendations["Standart"]
						</span>
						<br>
					}
					<span>
						@Localizer["Shielding"]&ensp;@Model.Recommendations["Shielding"]
					</span>
					<br>
				</p>
			}
		}
	}
</div>
