@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
	var requestCulture = Context.Features.Get<IRequestCultureFeature>();
	var cultureItems = LocOptions.Value.SupportedUICultures!
		.Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
		.ToList();
}

<form class="d-flex flex-column align-items-center" asp-controller="@nameof(Localization)" asp-action="@nameof(Localization.SetLanguage)" method="post"
	  asp-route-returnUrl="@Context.Request.Path">
	<label class="form-label mb-0" for="languageSelect"><i class="bi bi-globe2"></i> @Localizer["Language"]</label>
	<select class="form-select-sm" id="languageSelect" name="culture" onchange="this.form.submit();">
		@foreach (var item in cultureItems)
		{
			<option value="@item.Value" selected="@((item.Value == requestCulture?.RequestCulture.UICulture.Name) ? "selected" : null)">
				@item.Text
			</option>
		}
	</select>

</form>