@{
	ViewData["Title"] = Localizer["Project Information page title"];
}

<p>
	<span style="font-size:1.5rem;">@Localizer["Author of project"] &#8211; Pavel Batsemakin</span>
	<br />
	<span style="font-size:1.1rem;">@Localizer["Profile"] GitHub - <a href="https://github.com/Rhoxolan" target="_blank">github.com/Rhoxolan</a></span>
	<br />
	<span style="font-size:1.1rem;">@Localizer["E-Mail"] - <a class="projectInformaionPageA" href="mailto:pbaworkcontactmail@gmail.com">pbaworkcontactmail@gmail.com</a></span>
</p>
<h4 class="mt-4">
	@Localizer["History of project"]
</h4>
<hr />
<div class="informationContent">
	<p>
		@Localizer["First paragraph"]
	</p>
	<div class="my-4">
		<img src="~/images/Console_SCS_Calc_Screenshot_1.png" asp-append-version="true" class="img-fluid mx-auto d-block" alt="Screenshot 1 of the SCS-Calc preview console version" />
		<br />
		<img src="~/images/Console_SCS_Calc_Screenshot_2.png" asp-append-version="true" class="img-fluid mx-auto d-block" alt="Screenshot 2 of the SCS-Calc preview console version" />
		<div class="text-center mt-2">
			@Localizer["Img."] 1, 2. @Localizer["First&second image description"]
		</div>
	</div>
	<p>
		@Localizer["Second paragraph"]
	</p>
	<div class="my-4">
		<img src="~/images/SCS-Calc_Desktop_Screenshot_1.png" asp-append-version="true" class="img-fluid mx-auto d-block" alt="Screenshot of the SCS-Calc desktop version" />
		<div class="text-center mt-2">
			@Localizer["Img."] 3. @Localizer["Third image description"]
		</div>
	</div>
	<p>
		@Localizer["Third paragraph - link to the SCS-Calc repo"] - <a class="projectInformaionPageA" href="https://github.com/Rhoxolan/SKS-Calc" target="_blank">github.com/Rhoxolan/SKS-Calc</a>
	</p>
	<p>
		@Localizer["Fourth paragraph"]
	</p>
	<div class="my-4">
		<img src="~/images/SCS_Calc_1_1_Screenhot_1.png" asp-append-version="true" class="img-fluid mx-auto d-block" alt="Screenshot 1 of the SCS-Calc 1.1" />
		<br />
		<img src="~/images/SCS_Calc_1_1_Screenhot_2.png" asp-append-version="true" class="img-fluid mx-auto d-block" alt="Screenshot 2 of the SCS-Calc 1.1" />
		<div class="text-center mt-2">
			@Localizer["Img."] 4, 5. @Localizer["Fourth&fifth image description"]
		</div>
	</div>
	<p>
		@Localizer["Fifth paragraph - link to the SCS-Calc 1.1 repo"] - <a class="projectInformaionPageA" href="https://github.com/Rhoxolan/SCS-Calc_1.1" target="_blank">github.com/Rhoxolan/SCS-Calc_1.1</a>
	</p>
	<p>
		@Localizer["Sixth paragraph"]
	</p>
	<p>
		@Localizer["Seventh paragraph"]
	</p>
	<div class="my-4">
		<img src="~/images/SCS_Calc_2_0_Screenshot_1.png" asp-append-version="true" class="img-fluid mx-auto d-block" alt="Screenshot of the SCS-Calc 2.0" />
		<div class="text-center mt-2">
			@Localizer["Img."] 6. @Localizer["Sixth image description"]
		</div>
	</div>
	<p>
		@Localizer["Eight paragraph & link to the SCS-Calc 2.0 repo"] - <a class="projectInformaionPageA" href="https://github.com/Rhoxolan/SCS-Calc_2.0" target="_blank">github.com/Rhoxolan/SCS-Calc_2.0</a>
	</p>
	<p>
		@Localizer["Ninth paragraph - link to the Structured Cabling Studio repo"] - <a class="projectInformaionPageA" href="https://github.com/Rhoxolan/Structured_Cabling_Studio" target="_blank">github.com/Rhoxolan/Structured_Cabling_Studio</a>
	</p>
</div>